.scrollContainer {
    overflow-x: auto;
}

.container {
    padding: 0 96px;
    display: flex;
    border-top: 1px solid rgb(223, 223, 222);
}

.cardListsContainer {
    display: flex;
}

.addAGroup {
    display: flex;
    width: 180px;
    white-space: nowrap;
    align-items: center;
    height: 44px;
}

.addGroup__btn {
    white-space: nowrap;
    height: 28px;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.2;
    min-width: 0px;
    padding-left: 6px;
    padding-right: 8px;
    color: rgba(55, 53, 47, 0.4);
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    border: none;
    background: white;
}